.bg-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: rgb(190, 190, 190);
}


.projects-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vw;


    .logo-card {
        text-align: center;

        .n-wrapper {
            border: 1.2vw solid #fabed1;
            border-radius: 10vw;
            padding: 1vw 3vw 0.5vw 3vw;
            line-height: auto;
            transition: .3s;

            font-family: sans-serif;
            color: #fabed1;
            font-size: 5vw;
            letter-spacing: -0.6vw;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0 0 5pt rgba(255, 255, 255, 0.500)inset, 0 0 5px rgba(255, 255, 255, 0.500);
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.500);



            &:hover {
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.500)inset, 0 0 20px rgba(255, 255, 255, 0.500);
                text-shadow: 0 0 20px rgba(255, 255, 255, 0.500);
            }
        }

    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2vw;
        margin-top: 20px;
        width: 45vw;

        a {
            font-size: 2.5vw;
            color: #fabed1;
            transition: text-shadow .3s;

            &:hover {
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.800);

            }
        }
    }
}

@media screen and (max-width: 800px) {

    .projects-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2vw;

        .logo-card {
            text-align: center;

            .n-wrapper {
                border: 1.2vw solid #fabed1;
                border-radius: 10vw;
                padding: 2vw 4vw 1vw 4vw;
                line-height: auto;
                transition: .3s;

                font-family: sans-serif;
                color: #fabed1;
                font-size: 10vw;
                letter-spacing: -0.6vw;
                font-weight: 600;
                cursor: pointer;
                box-shadow: 0 0 5pt rgba(255, 255, 255, 0.500)inset, 0 0 5px rgba(255, 255, 255, 0.500);
                text-shadow: 0 0 5px rgba(255, 255, 255, 0.500);



                &:hover {
                    box-shadow: 0 0 20px rgba(255, 255, 255, 0.500)inset, 0 0 20px rgba(255, 255, 255, 0.500);
                    text-shadow: 0 0 20px rgba(255, 255, 255, 0.500);
                }
            }

        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 2vw;
            margin-top: 20px;
            width: 60vw;

            a {
                font-size: 2.5vw;
                color: #fabed1;
                transition: text-shadow .3s;

                &:hover {
                    text-shadow: 0 0 10px rgba(255, 255, 255, 0.800);

                }
            }
        }
    }


}